# Build directories (all levels)
build/
build*/
**/build/
**/build-*/
examples/simple/build-qemu/
examples/simple/.vscode
examples/ramp/build-qemu/
examples/ramp/.vscode
dependencies.lock
dist/
# ESP-IDF specific
sdkconfig
sdkconfig.old
managed_components/

# IDE / misc
.vscode/
.devcontainer/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Binary outputs
*.elf
*.bin
*.map
*.o